#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-spacing: 0;
  border: 1px solid black;
}
th,
td {
  margin: 0;
  padding: 0.5rem;
  min-width: 200px;
  height: 25px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  :last-child {
    border-right: 0;
  }
}
.butotn {
  margin: 1rem 0;
}
.captainName{
  color: #646cff;;
}
.checkbox{
display: flex;
}
