@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Righteous&display=swap");
:root {
  --primary: #0e2431;
  --secondary: #4070f4;
  --secondary-dark: #3665eb;
  --gray: #666;
  --body-font: "Metal-Mania", "Righteous";
}
h2 {
  font-family: var(--body-font);
  font-size: 40px;
}
.App {
  display: flex;
  justify-content: space-between;
}
table {
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
  display: inline-table;
  margin-top: 1rem;
}
th,
td {
  padding: 0.5rem;
  min-width: 150px;
  height: 25px;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  font-weight: 700;
  color: white;
}
.teamName {
  color: var(--gray);
  text-align: "left";
  cursor: "pointer";
  margin-left: "2rem";
  font-weight: 300;
}

.button {
  margin: 1rem 0;
}
.captainName {
  color: #646cff;
}
.checkbox {
  display: flex;
}
.tr-body {
  border-radius: 10px;
  width: 100%;
}
.hydron {
  background-color: #014170;
  color: white;
}
.magnum {
  background-color: #244f06;
  color: white;
}
.hellfire {
  background-color: #670001;
  color: white;
}
.zephyr {
  background-color: #a88011;
  color: white;
}
.typewriter h6 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
.confirm {
  width: 500px;
  height: 280px;
  background: #fff;
  transition: 0.6s;
  z-index: 100;
  position: absolute;
  top: -230px;
  left: calc(50% - 300px);
  padding: 2rem;
}

.confirm.show {
  top: calc(50% - 140px);
  border-radius: 10px;
}

.confirm-content {
  display: flex;
  color: var(--primary);
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.confirm.show + .overlay {
  display: block;
}
.img {
  width: 100px;
  height: 100px;
  padding: 1rem;
}
.gif {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.gif.visible {
  opacity: 1;
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 450px) {
  .confirm {
    width: 300px;
    left: calc(50% - 150px);
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
